{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Create New Page</h1>
{% if message %}
<!-- Create Page if error while saving -->
<h5>{{message}}</h5>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title" id="title" value="{{title}}" style="margin-bottom: 15px; padding: 5px"><br>
    <textarea name="body" id="body"></textarea> <br>
    <input type="submit" value="Post">
</form>

{% else %}
<!-- Create Page -->
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title" id="title" placeholder="Title" value="{{title}}"
        style="margin-bottom: 15px; padding: 5px"><br>
    <textarea name="body" id="body" placeholder="Write the content here...." value="{{body}}"></textarea> <br>
    <input type="submit" value="Post">
</form>
{% endif %}

<script>
    document.getElementById("body").value = "{{body}}";
</script>

{% endblock %}